body{
    background-color: darkslategray;
}
.login
{
position: relative;
top:40px;
left:500px;
border: 15px solid #000000;
background-color:rgb(53, 47, 79);
width: 200px;
padding: 90px;

}
.text
{
    position:relative;
    top:20px;
    left:500px;
}
.login input[type="submit"]
{
    background:none;
    display:block;
    margin:20px auto;
    text-align:center;
    boarder:2px solid #3498db;
    padding:14px 10px;
    width:80px;
    outline:none;
    color:white;			
    boarder-radius:24px;
    transition:0.25s;
    }